*.mp4
node_modules
.env
.env.local
.env.production
/backend/node_modules
/frontend/node_modules
/backend/.env
/frontend/.env
/backend/.env.local
/frontend/.env.local
/backend/.env.production
/frontend/.env.production