/* Clerk Overrides */
.cl-userButtonPopoverFooter {
	display: none;
}


body>div:nth-child(5) {
	display: none !important;
}


/* Inline | http://localhost:5173/editor/77e14469fb36634e17e2d1e8d49231a3889d3df386e9e228fed9ec5e6ebe5cdf */

body>div:nth-child(5) {
	height: 0 !important;
	width: 0 !important;
}

.remote-cursor::after {
	content: '';
	border-left: 2px solid red;
	height: 100%;
	display: inline-block;
	position: absolute;
}

.remote-cursor-label::after {
	content: attr(data-username);
	background-color: rgba(255, 0, 0, 0.1);
	color: red;
	font-size: 0.75rem;
	padding: 2px 4px;
	border-radius: 4px;
	position: absolute;
	top: -1.2em;
	left: 0;
}
